---
import ExchangeTable from '../ExchangeTable/ExchangeTable.astro';

const { title, subtitle, exchanges } = Astro.props;
---

<div class='my-6 flex flex-col gap-4'>
  {
    title && (
      <div class='flex justify-between'>
        <h2 class='text-xl font-bold text-gray-800 dark:text-gray-300'>
          {title}
        </h2>
      </div>
    )
  }
  <p class='text-xs text-gray-600 dark:text-gray-400'>
    {subtitle}
    <a class='underline' href='https://usdc.ar'>USDC.AR</a>.
  </p>

  {
    exchanges.map((exchange) => {
      return exchange.data.length ? (
        <ExchangeTable exchange={exchange} key={exchange.name} />
      ) : null;
    })
  }
</div>
