---
const { sectionName, link } = Astro.props;
---

<div class='my-6 flex flex-col'>
  <div
    class='flex justify-between rounded-t-lg bg-indigo-100 pb-[12px] pl-[16px] pr-[12px] pt-[16px] align-middle text-gray-600 dark:bg-indigo-950 dark:text-indigo-200'
  >
    <div>
      <span class='text-xs'>LO MEJOR PARA</span>
      <p class='text-xl'>Invertir en {sectionName}</p>
    </div>
    <a
      href={link}
      class='my-auto rounded-full bg-white px-3 py-2 text-xs dark:bg-gray-900'
      >VER TODO</a
    >
  </div>
  <slot />
</div>
