---
import Layout from '../layouts/Layout.astro';
---

<Layout
  title='404 Not Found'
  metaDescription='Compara tasas, pagina no encontrada'
  metaImage='/images/cuentas-usa.png'
  isFooterVisible={false}
  hideNav
>
  <main
    class='container mx-auto my-6 flex max-w-sm flex-col gap-4 px-4 align-middle sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <h1
      class='mx-auto my-6 text-2xl font-bold text-gray-900 dark:text-gray-100'
    >
      Ups, esta página no existe.
    </h1>
    <p class='text-1xl mx-auto my-6 font-bold text-gray-900 dark:text-gray-100'>
      Click <a href='/' class='text-indigo-500 underline'>aquí</a> para volver al
      inicio
    </p>
  </main>
</Layout>
