---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/banner.astro';
import NavBar from '../components/Menu/NavBar';
import terminals from '../data/terminals.json';
---

<Layout
  title='Compara terminales y comisiones de cobro'
  metaDescription='Conocé los costos y opciones disponibles para tu negocio.'
  metaKeywords='rendimientos crypto, rendimiento usdt, exchanges argentina,stablecoin argentina, dolares crypto'
  metaImage='https://comparatasas.ar/images/crypto.png'
>
  <NavBar pathname='/crypto' client:load />
  <div
    id='containter'
    class='container mx-4 mx-auto my-6 max-w-sm px-4 sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <h1 class='my-6 text-3xl font-bold text-gray-900 dark:text-gray-100'>
      Terminales y comisiones de cobro
    </h1>
    <p class='mb-8 dark:text-gray-500'>
      Conocé los costos y opciones disponibles para tu negocio.
    </p>
    <div class="flex flex-col gap-6">
    {
      terminals.map((terminal) => (
        <div class='flex gap-4'>
          <img
            class='h-16 w-16'
            src={terminal.providerImg + '?tr=w-72,h-72,f-webp'}
            alt={terminal.provider + ' icon'}
          />
          <div>
            <h2 class='text-xl font-bold dark:text-gray-100'>
              {terminal.provider}
            </h2>
            <p class='dark:text-gray-500'>
              {terminal.lectores.map((device, index) => (
                <span key={index}>
                  {device}
                  {index === terminal.lectores.length - 1 ? '.' : ','}
                </span>
              ))}
              <a class='underline' href={terminal.url}>Más Info</a>
            </p>
          </div>
        </div>
      ))
    }
    </div>
  </div>
</Layout>
