---
import { getOptions, getYields } from '../client/yields';
import NavBar from '../components/Menu/NavBar';
import Content from '../components/Sections/Defi/Content';
import Layout from '../layouts/Layout.astro';
import { MAPPING_RETURNS } from '../utils/returnsMapping';

const yields = await getYields();

const options = await getOptions();
const filteredOptions = options.filter((x) => !!MAPPING_RETURNS?.[x.coin]);
---

<Layout
  title='Compara Rendimientos Crypto'
  metaDescription='Compara los rendimientos en crypto que ofrecen los principales exchanges del pais.'
  metaKeywords='rendimientos crypto, rendimiento usdt, exchanges argentina,stablecoin argentina, dolares crypto'
  metaImage='https://comparatasas.ar/images/crypto.png'
>
  <NavBar pathname='/crypto-defi' client:load />
  <div
    id='containter'
    class='container mx-auto my-6 max-w-sm px-4 sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <h1 class='my-6 text-3xl font-bold text-gray-900 dark:text-gray-100'>
      ¡Conoce cuanto rinden <span class='text-indigo-500'
        >tus cryptos en DeFi</span
      >!
    </h1>
    <Content client:load yields={yields} options={filteredOptions} />
  </div>
</Layout>
