---
import Layout from '../layouts/Layout.astro';
import CriptoUsd from '../components/Sections/CriptoUsd.astro';
import { type Exchange } from '../model/exchange';
import { getReturns } from '../client/argentinaDatos';

const returns = await getReturns();

const exchanges = [
  {
    data: returns?.buenbit ?? [],
    link: 'https://buenbit.com?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/nDMEc3-Y_400x400.png?updatedAt=1702030494734',
    altLogo: 'buenbit logo',
    name: 'Buenbit',
  },
  {
    data: returns?.fiwind ?? [],
    link: 'https://fiwind.io?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/gKj3U76V_400x400.jpg?updatedAt=1702030494696',
    altLogo: 'fiwind logo',
    name: 'Fiwind',
  },
  {
    data: returns?.letsbit ?? [],
    link: 'https://letsbit.io/?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/letsbit.jpg?updatedAt=1708124949269',
    altLogo: 'letsbit logo',
    name: 'LetsBit',
  },
  {
    data: returns?.lemoncash ?? [],
    link: 'https://lemon.me/?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/lemon.jpg?updatedAt=1708468450310',
    altLogo: 'lemoncash logo',
    name: 'Lemon',
  },
  {
    data: returns?.belo ?? [],
    link: 'https://belo.app/?ref=comparatasas.ar',
    logo: 'https://ik.imagekit.io/ferminrp/belo.jpg?updatedAt=1708468600237',
    altLogo: 'belo logo',
    name: 'Belo',
  },
] as Exchange[];
---

<Layout
  title='Compara Rendimientos Crypto'
  metaDescription='Compara los rendimientos en crypto que ofrecen los principales exchanges del pais.'
  metaKeywords='rendimientos crypto, rendimiento usdt, exchanges argentina,stablecoin argentina, dolares crypto'
  metaImage='/images/crypto.png'
>
  <div
    id='containter'
    class='container mx-4 mx-auto my-6 max-w-sm px-4 sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <h1 class='my-6 text-3xl font-bold text-gray-900 dark:text-gray-100'>
      ¡Encontra las <span class='text-indigo-500'
        >mejores inversiones en crypto</span
      > para vos!
    </h1>

    <CriptoUsd
      exchanges={exchanges}
      subtitle={'Compará en donde comprar crypto al mejor precio en'}
    />

    <a
      id='cafecito'
      href='https://cafecito.app/ferminrp'
      rel='noopener'
      target='_blank'
      ><img
        width='192'
        height='40'
        srcset='https://cdn.cafecito.app/imgs/buttons/button_3.png 1x, https://cdn.cafecito.app/imgs/buttons/button_3_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_3_3.75x.png 3.75x'
        src='https://cdn.cafecito.app/imgs/buttons/button_3.png'
        alt='Invitame un café en cafecito.app'
      /></a
    >
  </div>
</Layout>
