---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Row from "../components/Row.astro";
import Dolares from "../components/Dolares.astro";

// Define your API endpoint and API keys
const apiEndpoint =
  "https://thklpacfwtrtuynqlnah.supabase.co/rest/v1/tna_view?display=eq.TRUE&select=*";
const apiKey = import.meta.env.VITE_SUPABASE_API_KEY;

// Configure your fetch request with headers
const response = await fetch(apiEndpoint, {
  method: "GET",
  headers: {
    Authorization: `Bearer ${apiKey}`,
    apikey: apiKey,
  },
});

const data = await response.json();

const sortedData = data.sort((a, b) => {
  if (a.tea < b.tea) {
    return 1; // for descending order, return 1 if the first item is less than the second
  } else if (a.tea > b.tea) {
    return -1; // return -1 if the first item is greater than the second
  } else {
    return 0; // return 0 if they're equal
  }
});

const filteredFiwindData = sortedData.filter((item) => item.type === "fiwind");
const filteredBuenbitData = sortedData.filter(
  (item) => item.type === "buenbit",
);
---

<Layout title="Compara Tasas">
  <div
    id="containter"
    class="container mx-auto mx-4 px-4 my-6 max-w-sm sm:max-w-sm md:max-w-md lg:max-w-lg"
  >
    <h1 class="text-3xl text-gray-900 font-bold my-6 dark:text-gray-100">
      ¡Elegí el fondo con <span class="text-indigo-500">más rendimientos</span> para
      vos!
    </h1>
    <!-- 
    <p class="flex items-center gap-1 text-gray-500 dark:text-gray-400">
      <span class="h-2 w-2 rounded-full bg-green-500"></span><span
        >Última actualización: <Date /></span>
    </p>-->
    <Dolares />
    <div class="flex flex-col gap-4 my-6">
      <h2 class="text-xl text-gray-800 dark:text-gray-300 font-bold">
        Inversión Automática
      </h2>
      {
        sortedData
          .filter((item) => item.type === "cuenta_remunerada")
          .map((item) => <Card {...item} />)
      }
    </div>
    <div class="flex flex-col gap-4 my-6">
      <h2 class="text-xl text-gray-800 dark:text-gray-300 font-bold">
        Experiencia Tradicional
      </h2>
      {
        sortedData
          .filter((item) => item.type === "tradicional")
          .map((item) => <Card {...item} />)
      }
    </div>
    <div class="flex flex-col gap-4 my-6">
      <h2 class="text-xl text-gray-800 dark:text-gray-300 font-bold">
        Cripto Pesos
      </h2>
      {
        sortedData
          .filter((item) => item.type === "criptopesos")
          .map((item) => <Card {...item} />)
      }
    </div>
    <div class="flex flex-col gap-4 my-6">
      <h2 class="text-xl text-gray-800 dark:text-gray-300 font-bold">
        Fondos en USD
      </h2>
      {
        sortedData
          .filter((item) => item.type === "buendolar")
          .map((item) => <Card {...item} />)
      }
    </div>

    <div class="flex flex-col gap-4 my-6">
      <h2 class="text-xl text-gray-800 dark:text-gray-300 font-bold">
        Cripto Dolares
      </h2>
      <p class="text-gray-600 dark:text-gray-400 text-xs">
        Compara en donde comprar crypto al mejor precio en <a
          class="underline"
          href="https://usdc.ar">USDC.AR</a
        >.
      </p>
      <div
        class="flex flex-col bg-white shadow-sm rounded-lg border-gray-300 px-4 py-2 dark:bg-gray-900"
      >
        <a
          class="border-b border-b-1 border-gray-100 py-4"
          href="https://buenbit.com?ref=comparatasas.ar"
        >
          <div class="">
            <div class="flex flex-row justify-between items-center">
              <div class="flex items-center gap-2">
                <img
                  loading="lazy"
                  style="width: 32px; height: 32px;"
                  class="rounded-full w-8 y-8"
                  width="32"
                  height="32"
                  src="https://ik.imagekit.io/ferminrp/nDMEc3-Y_400x400.png?updatedAt=1702030494734"
                  alt="buenbit logo"
                />
                <div>
                  <p class="font-semibold capitalize dark:text-gray-200">
                    Buenbit
                  </p>
                </div>
              </div>
              <button
              class="bg-white dark:bg-gray-900 text-indigo-600 dark:text-indigo-500 py-1 px-4 border border-indigo-600 rounded-lg"
              >
                Descargar
              </button>
            </div>
          </div>
        </a>
        {
          filteredBuenbitData.map((item, index) => (
            <Row
              {...item}
              isLastItem={index === filteredBuenbitData.length - 1}
            />
          ))
        }
      </div>

      <div
        class="flex flex-col bg-white shadow-sm rounded-lg border-gray-300 px-4 py-2 dark:bg-gray-900"
      >
        <a
          class="border-b border-b-1 border-gray-100 py-4"
          href="https://fiwind.io?ref=comparatasas.ar"
        >
          <div class="">
            <div class="flex flex-row justify-between items-center">
              <div class="flex items-center gap-2">
                <img
                  loading="lazy"
                  style="width: 32px; height: 32px;"
                  class="rounded-full w-8 y-8"
                  width="32"
                  height="32"
                  src="https://ik.imagekit.io/ferminrp/gKj3U76V_400x400.jpg?updatedAt=1702030494696"
                  alt="fiwind logo"
                />
                <div>
                  <p class="font-semibold capitalize dark:text-gray-200">
                    Fiwind
                  </p>
                </div>
              </div>
              <button
                class="bg-white dark:bg-gray-900 text-indigo-600 dark:text-indigo-500 py-1 px-4 border border-indigo-600 rounded-lg"
              >
                Descargar
              </button>
            </div>
          </div>
        </a>
        {
          filteredFiwindData.map((item, index) => (
            <Row
              {...item}
              isLastItem={index === filteredFiwindData.length - 1}
            />
          ))
        }
      </div>
    </div>

    <a
      class="my-6 block"
      href="https://cafecito.app/ferminrp"
      rel="noopener"
      target="_blank"
      ><img
        width="142"
        height="40"
        srcset="https://cdn.cafecito.app/imgs/buttons/button_1.png 1x, https://cdn.cafecito.app/imgs/buttons/button_1_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_1_3.75x.png 3.75x"
        src="https://cdn.cafecito.app/imgs/buttons/button_1.png"
        alt="Invitame un café en cafecito.app"
      /></a
    >
    <p class="my-4 text-gray-600 text-sm italic dark:text-gray-400">
      Tasas de los fondos estimadas a partir de los rendimientos del último día. Información
      provista por la cámara argentina de fondos comunes de inversión. La cotización del dolar es provista por dolarapi.com
    </p>
    <div class="flex items-center gap-4">
      <img
        class="rounded-full w-8 h-8"
        loading="lazy"
        src="https://ik.imagekit.io/ferminrp/TTjTTVbUN3MhU3N3eLlCgZ5NkwI.webp?updatedAt=1702031197847?tr=w-32,h-32,f_webp"
        alt="ferminrp"
      />
      <p class="my-4 text-gray-600 text-sm italic dark:text-gray-400">
        Si te gustó esta página, <a
          class="underline"
          href="https://twitter.com/ferminrp">seguime en X</a
        > en donde comparto nuevas cosas que voy armando.
      </p>
    </div>
  </div>
</Layout>

<style></style>
