---
import Layout from '../layouts/Layout.astro';

// Define your API endpoint and API keys
const apiEndpoint = 'https://thklpacfwtrtuynqlnah.supabase.co/rest/v1/tna_view?display=eq.TRUE&select=*';
const apiKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRoa2xwYWNmd3RydHV5bnFsbmFoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA5NDU4ODMsImV4cCI6MjAxNjUyMTg4M30._it1MlAW77XSEtPomXXgibz99xJtZc5Jcc3V2OVt33s'; // Ensure to securely store and use your API keys

// Configure your fetch request with headers
const response = await fetch(apiEndpoint, {
  method: 'GET', // or 'POST', depending on the API requirements
  headers: {
    'Authorization': `Bearer ${apiKey}`,
    'apikey': apiKey
    // Add any other headers required by the API
  },
});

const data = await response.json();

// Assuming your API returns data in a similar structure
const userData = data;

---

<Layout title="Compara Tasas">
<div id="containter" class="container mx-auto mx-4 px-4 my-6 max-w-sm">
{userData[0].id}          
<h1 class="text-3xl text-gray-900 font-bold my-6">¡Elegí el fondo con <span class="text-indigo-600">más rendimientos</span> para vos!</h1>
            <p class="flex items-center gap-1 text-gray-500"><span class="h-2 w-2 rounded-full bg-green-500"></span>Última actualización: <span id="updateDate"></span><p>
            <div class="flex flex-col gap-4 my-6">
            <h2 class="text-xl text-gray-800 font-bold">Inversión Automática</h2>
            </div>
            <div class="flex flex-col gap-4 my-6">
            <h2 class="text-xl text-gray-800 font-bold">Experiencia Tradicional</h2>
            </div>
            <div class="flex flex-col gap-4 my-6">
            <h2 class="text-xl text-gray-800 font-bold">Cripto Pesos</h2>
            </div>
            <div class="flex flex-col gap-4 my-6">
              <h2 class="text-xl text-gray-800 font-bold">Fondos en USD</h2>
            </div>

            <div class="flex flex-col gap-4 my-6">
              <h2 class="text-xl text-gray-800 font-bold">Cripto Dolares</h2>
              <p class="text-gray-600 text-xs">Compara en donde comprar crypto al mejor precio en <a class="underline" href="https://usdc.ar">USDC.AR</a>.</p>
              <div class="flex flex-col bg-white shadow-sm rounded-lg border-gray-300 px-4 py-2">
                <a class="border-b border-b-1 border-gray-100 py-4" href="https://buenbit.com?ref=comparatasas.ar">
                  <div class="">
                    <div class="flex flex-row justify-between items-center">
                      <div class="flex items-center gap-2">
                        <img loading="lazy" style="width: 32px; height: 32px;" class="rounded-full w-8 y-8" width="32" height="32" src="https://ik.imagekit.io/ferminrp/nDMEc3-Y_400x400.png?updatedAt=1702030494734" alt="buenbit logo">
                        <div>
                          <p class="font-semibold capitalize">Buenbit</p>
                        </div>
                      </div>
                      <button class="bg-white text-indigo-600 py-1 px-4 border border-indigo-600 rounded-lg">
                        Descargar
                      </button>
                    </div>
                  </div>
                </a>
              </div>

              <div class="flex flex-col bg-white shadow-sm rounded-lg border-gray-300 px-4 py-2">
              <a class="border-b border-b-1 border-gray-100 py-4" href="https://fiwind.io?ref=comparatasas.ar">
                <div class="">
                  <div class="flex flex-row justify-between items-center">
                    <div class="flex items-center gap-2">
                      <img loading="lazy" style="width: 32px; height: 32px;" class="rounded-full w-8 y-8" width="32" height="32" src="https://ik.imagekit.io/ferminrp/gKj3U76V_400x400.jpg?updatedAt=1702030494696" alt="fiwind logo">
                      <div>
                        <p class="font-semibold capitalize">Fiwind</p>
                      </div>
                    </div>
                    <button class="bg-white text-indigo-600 py-1 px-4 border border-indigo-600 rounded-lg">
                      Descargar
                    </button>
                  </div>
                </div>
              </a>
            </div>
            </div>
 

            <a class="my-6 block" href='https://cafecito.app/ferminrp' rel='noopener' target='_blank'><img width="142" height="40" srcset='https://cdn.cafecito.app/imgs/buttons/button_1.png 1x, https://cdn.cafecito.app/imgs/buttons/button_1_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_1_3.75x.png 3.75x' src='https://cdn.cafecito.app/imgs/buttons/button_1.png' alt='Invitame un café en cafecito.app' /></a>
            <p class="my-4 text-gray-600 text-sm italic">Tasas estimadas a partir de los rendimientos del último día. Información provista por la cámara argentina de fondos comunes de inversión.</p>
            <div class="flex items-center gap-4">
            <img class="rounded-full w-8 h-8" loading="lazy" src="https://pbs.twimg.com/profile_images/1523984386340831233/jSlYyvDj_400x400.jpg" alt="ferminrp">
            <p class="my-4 text-gray-600 text-sm italic">Si te gustó esta página, <a class="underline" href="https://twitter.com/ferminrp">seguime en X</a> en donde comparto nuevas cosas que voy armando.</p>
          </div>  
          </body>
</Layout>

<style>
	
</style>
