---
import Layout from '../layouts/Layout.astro'
---

<Layout
  isFooterVisible={false},
  title='Compara Tasas'
  metaImage='https://i.ibb.co/QYKMwcL/Twitter-post-2.pnG'
  metaDescription='Compara las tasas de rendimiento que ofrecen las principales billeteras digitales y sacale mas jugo a tu pesos.'
>
  <div
    id='containter'
    class='flex flex-col gap-4 container mx-auto mx-4 px-4 my-6 max-w-sm sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <h1 class='font-bold text-xl dark:text-gray-200'>Aviso Legal</h1>
    <p class='dark:text-gray-200'>
      Comparatasas.ar® es un sitio meramente informativo, y no
      brinda consejo, recomendación, asesoramiento o invitación de
      ningún tipo, ni de ninguna clase o naturaleza, para realizar
      actos y/o operaciones de cualquier tipo, clase o naturaleza.
      <br /><br />
      Los colaboradores de este sitio se deslindan de toda responsabilidad
      respecto de la posible falta de precisión y/o veracidad y/o exactitud
      y/o integridad y/o vigencia de los datos y/o de las fuentes de información
      de público acceso tenidos en consideración para la elaboración del
      contenido del sitio. Los colaboradores de este sitio no garantizan
      la precisión y/o veracidad y/o exactitud y/o integridad y/o vigencia
      de los datos mostrados en este sitio.
      <br /><br />
      Los colaboradores de este sitio se deslindan de toda responsabilidad
      respecto del uso que puedan llegar a dar a la información y/o a los
      datos incluidos en el contenido de este sitio quienes accedan al
      mismo.
      <br /><br />
      Los colaboradores de este sitio no se responsabilizan por los eventuales
      daños patrimoniales y/o perjuicios que pudieren resultar de decisiones
      adoptadas sobre la base de los datos mostrados en este sitio, por
      quienes accedan al mismo. Se recomienda a las visitas hacer su propia
      investigación y buscar asesoramiento profesional.
    </p>
  </div>
</Layout>
