---
import NavBar from '../components/Menu/NavBar';
import Banner from '../components/banner.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title='Publicitar en ComparaTasas'
  metaImage='https://i.ibb.co/QYKMwcL/Twitter-post-2.pnG'
  metaDescription='Potencia tu marca y llega a mas usuarios con nuestros banners.'
  metaKeywords='Comparar tasas, tasas de interes Argentina, mejores tasas de interes, Comparar FCI, mejores tasas FCI, comparar tasas de interes, plazo fijo argentina, plazo fijo vs fci'
>
  <NavBar pathname='/publicitar' client:load />
  <div
    id='containter'
    class='container mx-4 mx-auto my-6 max-w-sm px-4 sm:max-w-sm md:max-w-md lg:max-w-lg'
  >
    <h1 class='my-6 text-3xl font-bold text-gray-900 dark:text-gray-100'>
      ¡Publicitá en compara tasas!
    </h1>
    <p class='dark:text-gray-100'>
      Te ofrecemos una forma sencilla de publicitar en nuestra página con dos
      formatos de banners.
    </p>
    <div class='my-6 rounded-lg px-6 dark:bg-slate-800'>
      <div class='space-between flex justify-between py-4 text-gray-200'>
        <p>Small</p>
        <p>480x101</p>
      </div>
      <div>
        <hr class='border-t dark:border-gray-600' />
      </div>
      <div class='space-between flex justify-between py-4 text-gray-200'>
        <p>Large</p>
        <p>480x302</p>
      </div>
    </div>
    <div class='flex flex-col gap-6'>
      <p class='dark:text-gray-100'>
        Ambos formatos se cobran de la misma manera. US$ 0.20 por click.
      </p>
      <p class='dark:text-gray-100'>
        Si te interesa publicitar con nosotros por favor contactate con ferminrp
        por <a class='text-indigo-500 underline' href='https://x.com/ferminrp'
          >twitter</a
        >, <a class='text-indigo-500 underline' href='https://t.me/ferminrp'
          >telegram</a
        >, o <a
          class='text-indigo-500 underline'
          href='mailto:comparatasas@m.ferminrp.com'>mail</a
        >
      </p>
    </div>
  </div>
</Layout>
