---
import adsData from '../data/ads.json';

const { size, company } = Astro.props;

if (size !== 'small' && size !== 'large') {
  throw new Error(
    `Invalid 'size' prop: '${size}'. Must be 'small' or 'large'.`,
  );
}

// Accede al primer anuncio dentro del arreglo 'small'
let banners = adsData[size];
if (company) {
  banners = banners.filter((banner) => banner.company === company);
}

if (banners.length === 0) {
  throw new Error(`No banners found for company: '${company}'.`);
}
let selectedBanner = banners[Math.floor(Math.random() * banners.length)];
---

<a class='w-full rounded-lg' href={selectedBanner.url} target='_blank'>
  <img
    loading='lazy'
    class='w-full rounded-lg'
    src={selectedBanner.imageUrl + '?tr=f_webp'}
    alt={selectedBanner.company + ' logo'}
  />
</a>
