---
function getCurrentDate() {
    const date = new Date(); // Crea un objeto de fecha representando la fecha y hora actual
    const day = date.getDate(); // Obtiene el día del mes

    // Array de los nombres abreviados de los meses en español
    const months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
    const month = months[date.getMonth()]; // Obtiene el nombre abreviado del mes actual

    return `${day} de ${month}`; // Retorna la fecha en el formato "9 de Feb."
}

const currentDate = getCurrentDate(); // Llama a la función para obtener la fecha actual

---

<span>{currentDate}</span>

