---
import { formatCurrency } from '../utils/formats';

const { name, precioCompra, precioVenta } = Astro.props;
const formattedCompra = formatCurrency(precioCompra);
const formattedVenta = formatCurrency(precioVenta);
---

<tr>
  <td
    class='w-full border-b border-gray-200 bg-white px-4 py-2 text-sm dark:border-gray-800 dark:bg-gray-900'
  >
    <p class='text-gray whitespace-no-wrap dark:text-gray-200'>
      {
        name === 'Bolsa'
          ? 'Mep'
          : name === 'Contado con liquidación'
            ? 'CCL'
            : name
      }
    </p>
  </td>
  <td
    class='w-auto whitespace-nowrap border-b border-gray-200 bg-white px-4 py-2 text-right text-sm dark:border-gray-800 dark:bg-gray-900'
  >
    <p class='text-gray whitespace-no-wrap dark:text-gray-200'>
      {formattedCompra}
    </p>
  </td>
  <td
    class='w-auto whitespace-nowrap border-b border-gray-200 bg-white px-4 py-2 text-right text-sm dark:border-gray-800 dark:bg-gray-900'
  >
    <p class='text-gray whitespace-no-wrap dark:text-gray-200'>
      {formattedVenta}
    </p>
  </td>
</tr>
