---
const { name, precioCompra, precioVenta , isLastItem } = Astro.props;
const formattedCompra = new Intl.NumberFormat('es-AR', { style: 'currency', currency: 'ARS' }).format(precioCompra);
const formattedVenta = new Intl.NumberFormat('es-AR', { style: 'currency', currency: 'ARS' }).format(precioVenta);

---

<tr>
<td class="px-4 py-2 border-b border-gray-200 bg-white text-sm w-full">
    <p class="text-gray whitespace-no-wrap">{name === "Bolsa" ? "Mep" : name === "Contado con liquidación" ? "CCL" : name}</p>
</td>
<td class="px-4 py-2 border-b border-gray-200 bg-white text-sm text-right w-auto whitespace-nowrap">
    <p class="text-gray whitespace-no-wrap">{formattedCompra}</p>
</td>
<td class="px-4 py-2 border-b border-gray-200 bg-white text-sm text-right w-auto whitespace-nowrap">
    <p class="text-gray whitespace-no-wrap">{formattedVenta}</p>
</td>
</tr>
