---
import { formatPercentage } from "../../utils/formats"

const { isLastItem, moneda, apy, logo, defaultLogo } = Astro.props

const apyFormatted = formatPercentage(apy)

const fullLogo = logo ?? defaultLogo


// Regla para que no aparezca ars de letsbit o apys ridiculos de mas de 200%
const shouldRenderComponent = moneda !== 'ARS' && apy < 200;
---

{shouldRenderComponent && (
<div
  class={`p-2 ${isLastItem ? 'dark:bg-gray-900' : 'border-b border-b-1 border-gray-100 dark:border-gray-600 dark:bg-gray-900'}`}
>
  <div>
    <div class='flex flex-row justify-between items-center'>
      <div class='flex items-center gap-2'>
        <img
          loading='lazy'
          style={{ width: '16px', height: '16px' }}
          class='rounded-full w-4 h-4'
          src={fullLogo + '?tr=w-16,h-16,f_webp'}
          alt={`${moneda} logo`}
        />
        <div>
          <p class='font-semibold capitalize dark:text-gray-200'>
            {moneda}
          </p>
        </div>
      </div>
      <div>
        <p class='w-[150px] flex justify-end align-middle gap-1'>
          <span class='tabular-nums dark:text-gray-200'
            >{apyFormatted}</span
          >
          <span class='dark:text-gray-200 text-xs mt-[5px]'>APY</span>
        </p>
      </div>
    </div>
  </div>
</div>
)}
